# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.plug
dist/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

/.cache
steampipe-plugin-backstage